.main-map {
  width: calc(100% - 840px);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e0f2e9;
  min-width: 150px;
  right: 0;
  border-radius: 10px 0 10px 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 500;
  transition: 0.5s;
  opacity: 0.75;
}

.dropdown-content a:hover {
  background-color: #5b7b7a;
  color: #fff;
  border: 0;
  opacity: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: fixed;
  z-index: 100;
  margin-right: 8px;
}
