@import url("https://fonts.googleapis.com/css?family=lovelo");

.Banner
{
    height: 400px;
    position: relative;

    .Media
    {
        background-color: white;
        height: 100%;
        overflow: hidden;

        position: relative;

        .MediaCaption
        {
            text-overflow: ellipsis;

            position: absolute;
            bottom: 0;

            padding: 15px;

            background-color: black;
            color: white;
            opacity: 0.6;

            width: 100%;
            height: 10%;

            font:
            {
                font-family: "Lovelo";
                size: 21px;
                weight: 200;
            }

            transition: 300ms;
            cursor: pointer;
            &:hover
            {
                opacity: 0.8;
            }

        }

        transition: 300ms;
        cursor: pointer;
        &:hover
        {
            filter: brightness(115%);
        }
    }

    .BannerGrid
    {
        height: 100%;
        position: relative;
    }

    .Content
    {
        color: white;
        background-color: rgb(51, 107, 135);
        height: 100%;

        position: relative;

        cursor: pointer;

        padding: 30px;

        transition: 300ms;

        &:hover, &:active
        {
            background-color: rgb(118, 204, 207);

            .ViewButton
            {
                background-color: rgb(241, 241, 241);
                color: rgb(51, 107, 135)
            }
        }

        .Title
        {
            font-size: 30px;
            font-weight: 500;
            color: white;
        }

        .Caption
        {
            margin-top: 10px;
            font-size: 18px;
            color: white;
        }

        .ViewButton
        {
            margin-top: 40px;
            color: white;

            font-size: 25px;
            border: 3px solid white;
            text-transform: capitalize;

            transition: 200ms;
        }
    }
}
